// Render with Colorize extension for Visual Studio Code
1 {
    backgroundColor:#a4bdfc;
    foregroundColor:#1d1d1d;
}
2 {
    backgroundColor:#7ae7bf;
    foregroundColor:#1d1d1d;
}
"3": {
    backgroundColor:#dbadff;
    foregroundColor:#1d1d1d;
}
"4": {
    backgroundColor:#ff887c;
    foregroundColor:#1d1d1d;
}
"5": {
    backgroundColor:#fbd75b;
    foregroundColor:#1d1d1d;
}
"6": {
    backgroundColor:#ffb878;
    foregroundColor:#1d1d1d;
}
"7": {
    backgroundColor:#46d6db;
    foregroundColor:#1d1d1d;
}
"8": {
    backgroundColor:#e1e1e1;
    foregroundColor:#1d1d1d;
}
"9": {
    backgroundColor:#5484ed;
    foregroundColor:#1d1d1d;
}
"10": {
    backgroundColor:#51b749;
    foregroundColor:#1d1d1d;
}
"11": {
    backgroundColor:#dc2127;
    foregroundColor:#1d1d1d;
}